<h1>Welcome</h1>
<p>Found me !</p>

<%# <p>Response = <%= @resp</p> %>



<p>My env <%= ENV['AWS_REGION'] %></p>
<h5><%= @txt%></h5>
<p>username = <%= @user[:name] %></p> 
<p>adress = <%= @adress[:street]  %></p> 

<p>All users <%= @ALLUser %></p> %>

<p>User ID= <%= @user.user_id%></p>

<p>hey = <%= @txt%></p>

<%= debug@user  %>


<h1>OK</h1>

<%= debug@test %>

